*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    height: 4.2rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.navlist{
    display: flex;
    gap: 2.5rem;
}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.hero{
    display: flex;
}
.hero .left{    
    background: #2c1e1e;
    padding-left: 3rem;
}
.hero .right{
    background: #7c573c;
    justify-content: center;
}
.hero .hero_split{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.navlist .slider{
    background: rgba(255, 255, 255, 0.345);
    width: 5rem;
    height: 4.5rem;
    position: absolute;
    top: 0;
    right: 400px;
    border-top: .3rem solid #2c1e1e;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter: blur(.5rem);
    z-index: -1;
    transition: .5s ease-in-out;
}
.navlist li:nth-child(2):hover ~ .slider{
    right: 310px;
} 
.navlist li:nth-child(3):hover ~ .slider{
    right: 210px;
} 
.navlist li:nth-child(4):hover ~ .slider{
    right: 100px;
} 
.navlist li:nth-child(5):hover ~ .slider{
    right: -10px;
} 
.left .content{
    color: white;
}
.content h1{
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke : .02rem white;
    letter-spacing: .1rem;
    font-family: 'lemon', cursive;
}
.content p{
    color: rgba(255, 255, 255, 0.345);
    font-size: 1rem;
    width: 75%;
    margin: 1.3rem 0;
    line-height: 1.8rem;
}
.content button{
    background: radial-gradient(at top left, #5a4740, #2c1e1e);
    padding: 1rem 3rem;
    border: .2rem solid rgba(255, 255, 255, 0.286);
    font-size: 1.3rem;
    color: white;
    border-radius: 4rem;
    letter-spacing: .1rem;
}
.content button:hover{
    background: radial-gradient(at top left, #5a4740, #2c1e1e);
    transform: scale(1.1);
}
.right img{
    height: 65%;
    padding-left: 3rem;
}

.middle{
    align-items: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.middle .circle{
    width: 9rem;
    height: 9rem;
    background-color: white;
    border-radius: 8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.middle .circle:nth-child(1){
    background-image: url(coffee\ powder.jpg);
    background-size: 350%;
}
.middle .circle:nth-child(2){
    background-image: url(coffee\ beans.jpg);
    margin: 2rem 0;
}
.middle .circle:nth-child(3){
    background-image: url(leaves.jpg);
    background-size: 350%;
}
.middle .circle::before{
    content: "";
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 8rem;
    border: .2rem dotted white; 
    padding: .3rem;
}











